.menu-links {
  height: 100%;
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
  }
  .active-link {
    .MuiButtonBase-root {
      background-color: #3f51b5;
      .MuiListItemIcon-root,
      .MuiListItemText-root {
        color: white;
      }
    }
  }
}
